// Fuentes
$fuentePrincipal: 'Roboto', sans-serif;
$fuenteCursiva: 'Rochester', cursive;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$laptop: 960px;
$desktop: 1400px;

// Colores
$primario: #ea4c89;
$secundario: #f72585;
$rosaBajo: #F1CDD7;
$rosaFuerte: #865C6C;
$grisClaro: #e9ecef;
$azulFuerte: #1877f2;
$negro: #000;
$blanco: #fff;

// Unidades
$separacion: 5rem;